@using Microsoft.AspNetCore.Components.Web
@namespace LInksync_Cold_Storage_Wallet.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>SYNC Wallet</title>
	<base href="/" />
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link href="css/app.css" rel="stylesheet" />
	<link href="MauiApp1.styles.css" rel="stylesheet" />

	<!-- Favicon icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/monster/src/assets/libs/apexcharts/dist/apexcharts.css">
	<link href="/monster/src/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/monster/src/assets/libs/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">
	<link href="/monster/dist/css/style.min.css" rel="stylesheet">
	<link href="/css/site.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">

	<link href="/monster/src/assets/extra-libs/toastr/dist/build/toastr.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/monster/src/assets/extra-libs/prism/prism.css">
	<link href="/monster/src/assets/libs/morris.js/morris.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<style>

		.page {
			height: 100vh;
			display: block;
			flex-direction: column;
			justify-content: center;
		}



		.container, .container-lg, .container-md, .container-sm, .container-xl {
			max-width: 60%;
			padding: 45px;
		}

		.LogoMainBackground {
			position: absolute;
			top: 47%;
			left: 77%;
			height: 31vw;
			width: 31vw;
			z-index: 0.;
			opacity: 1;
		}


		.dropdown-menu.show {
			display: block;
			position: relative !important;
		}

		body {
			background: #1e1f26 !important;
		}

		.card {
			overflow: hidden;
			background: #282931 !important;
		}

		.bg-light {
			color: #689aa4 !important;
			background-color: #2f3544 !important;
		}

		.table {
			width: 100%;
			margin-bottom: 1rem;
			color: #455058;
			vertical-align: top;
			border-color: #455058;
		}

		.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
			margin-bottom: .5rem;
			font-weight: 400;
			line-height: 1.2;
			color: #689aa4;
		}

		.text-info {
			color: #689aa4 !important;
		}

		.fw-normal {
			font-weight: 400 !important;
			color: #689aa4;
		}

		a {
			color: #689aa4 !important;
		}

		.btn-info {
			color: white;
			background-color: #54667a;
			border-color: #54667a;
			box-shadow: 0 1px 0rgba(255,255,255,.15);
		}

			.btn-info:hover {
				color: white;
				background-color: #689aa4;
				border-color: #689aa4;
				box-shadow: 0 1px 0rgba(255,255,255,.15);
			}

		.jp-card .jp-card-front, .jp-card .jp-card-back {
			background: #2f3544 !important;
		}

		.nav-link:focus, .nav-link:hover {
			color: #455754 !important;
		}

		.inputStyle {
			color: #54667a;
			height: 60px;
			background: #1E1F26 0% 0% no-repeat padding-box;
			border-radius: 8px;
			border: none;
		}

		.form-control:focus {
			color: #54667a;
			background-color: #1e1f26;
			border-color: rgba(0,0,0,.25);
			outline: 0;
			box-shadow: unset,transparent;
		}

		.border-danger {
			border-color: #54667a !important;
		}

		.bg-success {
			background-color: #706e6e !important;
		}



 
	</style>
	<!-- ============================================================== -->
		<!-- All Jquery -->
	<!-- ============================================================== -->

	<!-- Insert this line above script imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<!-- normal script imports etc  -->
	<script src="/monster/src/assets/libs/jquery/dist/jquery.min.js"></script>


	<!-- Insert this line after script imports -->
	<script>if (window.module) module = window.module;</script>
	<script src="/monster/src/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
	<script src="/monster/src/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/monster/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/monster/src/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/monster/src/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
	<!--Wave Effects -->
	<script src="/monster/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<!--Custom JavaScript -->
	<script src="/monster/dist/js/feather.min.js"></script>
	<script src="/monster/dist/js/custom.min.js"></script>
	<!--This page JavaScript -->
	<script src="/monster/src/assets/libs/moment/moment.js"></script>
	<script src="/monster/src/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>

	<script src="/monster/src/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="/monster/src/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/monster/src/assets/libs/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker-custom.js"></script>

	<script src="https://cdn.jsdelivr.net/gh/chrisdickinson/bops@master/dist/bops.js" type="module"></script>
	<script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
	<script type="text/javascript" src="/walletconnect/web3-provider/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="/evm-chains/dist/umd/index.min.js"></script>
	<script type="text/javascript" src="/web3modal/dist/index.js"></script>
	<script src="/js/Connect.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
	<script src="/monster/src/assets/libs/sweetalert2/dist/sweetalert2.all.min.js" aria-hidden="true"></script>
	<script src="/monster/src/assets/extra-libs/sweetalert2/sweet-alert.init.js" aria-hidden="true"></script>
	<Popup></Popup>
    @RenderBody()

   

	<script type="text/javascript" src="/lib/signalr/dist/browser/signalr.js"></script>
	<script src="/monster/dist/js/currentApp.js"></script>
	<script src="/monster/dist/js/currentApp.init.js"></script>
	<script src="/monster/dist/js/currentApp-style-switcher"></script>
	<script src="/monster/src/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
	<script src="https://unpkg.com/html5-qrcode"></script>


	<script src="/monster/src/assets/extra-libs/toastr/dist/build/toastr.min.js"></script>


	<script src="/js/Index.js"></script>
	 
 	<script src="/monster/src/assets/extra-libs/prism/prism.js"></script>
    <script src="/monster/src/assets/libs/raphael/raphael.min.js"></script>
    <script src="/monster/src/assets/libs/morris.js/morris.min.js"></script>
    <script src="/monster/dist/js/pages/morris/morris-data.js"></script>
    <script src="/monster/src/assets/libs/echarts/dist/echarts-en.min.js"></script>
    <script src="/monster/dist/js/pages/echarts/line/line-charts.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
