@using Microsoft.AspNetCore.Components.Web
@namespace LInksync_Cold_Storage_Wallet.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>SYNC Wallet</title>
	<base href="/" />

	<link href="css/app.css" rel="stylesheet" />

	
	<!-- Favicon icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
	<!-- Custom CSS -->
  	<!-- Custom CSS -->

	<link href="/monster/dist/css/style.min.css" rel="stylesheet">
	<link href="/css/site.css" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">


     <link rel="stylesheet" type="text/css" href="/monster/src/assets/libs/select2/dist/css/select2.min.css">
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

 
	<!-- ============================================================== -->
		<!-- All Jquery -->
	<!-- ============================================================== -->

	<!-- Insert this line above script imports  -->
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<!-- normal script imports etc  -->
	<script src="/monster/src/assets/libs/jquery/dist/jquery.min.js"></script>


	<!-- Insert this line after script imports -->
	<script>if (window.module) module = window.module;</script>
	<script src="/monster/src/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
	<script src="/monster/src/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script src="/monster/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<!-- slimscrollbar scrollbar JavaScript -->
	<script src="/monster/src/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
	<script src="/monster/src/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
	<!--Wave Effects -->
	<script src="/monster/dist/js/waves.js"></script>
	<!--Menu sidebar -->
	<!--Custom JavaScript -->
	<script src="/monster/dist/js/feather.min.js"></script>
 	<!--This page JavaScript -->
	<script src="/monster/src/assets/libs/moment/moment.js"></script>
 
	<script src="https://cdn.jsdelivr.net/gh/chrisdickinson/bops@master/dist/bops.js" type="module"></script>
	<script src="/monster/src/assets/libs/sweetalert2/dist/sweetalert2.all.min.js" aria-hidden="true"></script>
	<script src="/monster/src/assets/extra-libs/sweetalert2/sweet-alert.init.js" aria-hidden="true"></script>
	<Popup></Popup>
    @RenderBody()

   

 


	<script src="/js/Index.js"></script>
	 
    <script src="/monster/src/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/monster/src/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/monster/dist/js/pages/forms/select2/select2.init.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
