@page "/Create"
@using SYNCWallet.Models

 

<link href="/css/create.css" rel="stylesheet">

<div class="container FixCenter"   style="    height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;">
    <div class="row" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
        <img src="/logo.png" alt="homepage" class="light-logo logoPos" />
    </div>
    <div class="row" id="Options" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;">
        <div class="col-md-5 "  style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="CreateNew" type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                            Create new
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 " style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="ImportAccountScreen"  type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                            Import Existing
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"  id="Preview" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;display:none; margin-top:50px;">
        <div class="card" style="padding: 0;overflow: hidden;">
            <div class="card-body">
                <div class="row" style="flex-wrap: wrap;
                                        flex-direction: row;
                                        align-content: center;
                                        align-items: flex-start;
                                        justify-content: center;">
                    @if (Words != null)
                    {
                        
                        @foreach (var item in Words)
                        {

                            <div class="col-md-2" style="text-align: center;
                                                        border: 1px solid #999999;
                                                        border-radius: 7px;
                                                        padding: 0;
                                                        margin: 5px;">
                                <p class="text-muted">
                                    @item.Name
                                </p>
                                <small class="text-muted">
                                   @item.Index
                                </small>
                            </div>
                          
                        }

                    }
                </div>
          

                <button @onclick="ConfirmWallet"  type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                    Confirm
                </button>
    

            </div>
        </div>

    </div>
    <div class="row" id="confirm" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;display:none; margin-top:50px;">
        <div class="card" style="padding: 0;overflow: hidden;">
            <div class="card-body">
                <div class="row" style="    margin-top: 25px;">
                    <a class="nav-link sidebartoggler waves-effect waves-light" onclick="ReturnToSeedSave()"  style="font-size: 25px;"><i class="icon-arrow-left-circle"></i> Return</a>
                </div>
                <div class="row" style="flex-wrap: wrap;
                                        flex-direction: row;
                                        align-content: center;
                                        align-items: flex-start;
                                        justify-content: center;">
                    @if (Words != null)
                    {
                        <div class="col-md-3" style="  text-align: center;
                                                        border: 1px solid #999999;
                                                        border-radius: 7px;
                                                        padding: 0;
                                                        margin: 5px;
                                                        width: 47%;
                                                        text-align: center;
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;
                                                        justify-content: center;
                                                        align-content: center;
                                                        ">
                            <input   type="text" @bind-value="Word"  class="form-control inputStyle" placeholder="Name of seed word at position">

                            <small class="text-muted">
                                @WordNum
                            </small>
                        </div>
                    }
                </div>


                <button @onclick="ConfirmWallet"  type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                    Next
                </button>
            </div>
        </div>

    </div>

    <div class="row" id="ImportConfirm" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;display:none; margin-top:50px;">
        <div class="card" style="padding: 0;overflow: hidden;">
            <div class="card-body">
                <div class="row" style="    margin-top: 25px;">
                    <a class="nav-link sidebartoggler waves-effect waves-light" onclick="ReturnToSeedSave()"  style="font-size: 25px;"><i class="icon-arrow-left-circle"></i> Return</a>
                </div>
                <div class="row" style="flex-wrap: wrap;
                                        flex-direction: row;
                                        align-content: center;
                                        align-items: flex-start;
                                        justify-content: center;">

                        @for(var i = 0; i <= 13; i++)
                        {
                            Word currentWord = new Word();
                            <div class="col-md-3" style="text-align: center;
                                                            border: 1px solid #999999;
                                                            border-radius: 7px;
                                                            padding: 0;
                                                            margin: 5px;">
                            <input type="text" id="Val_@i" class="form-control inputStyle" placeholder="Name of seed word at position">
                                @i
                                
                            </div>
                          
                        }
                   
                     
                </div>


                <button @onclick="(() => CheckWallet())"  type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                    Import Seed
                </button>
            </div>
        </div>

    </div>
    <div class="row" id="pincode" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;display:none; margin-top:50px;">
        <div class="card" style="padding: 0;overflow: hidden;">
            <div class="card-body">
 
                <div class="row" style="flex-wrap: wrap;
                                        flex-direction: row;
                                        align-content: center;
                                        align-items: flex-start;
                                        justify-content: center;">
                 
                        <div class="col-md-3" style="text-align: center;
                                                        border: 1px solid #999999;
                                                        border-radius: 7px;
                                                        padding: 0;
                                                        margin: 5px;">
                        <input type="text" @bind-value="PassCode" minlength="8" maxlength="8" class="form-control inputStyle" placeholder="Enter PIN">
                        </div>
                </div>
                <button @onclick="CreateWallet"   type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                    Next
                </button>
            </div>
        </div>

    </div>
</div>

 