@page "/"
 
 

<link href="/css/create.css" rel="stylesheet">
<Popup></Popup>
 
<div class="container FixCenter" id="LoginPanel" style="   height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;">
    <div class="row" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
        <img src="/logo.png" style="width: 250px;height: 200px;" alt="homepage" class="light-logo" />
    </div>
    <div class="row" id="Options" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;">
        <div class="col-md-5 " style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="LoadHotWallet"   type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                            Hot Wallet
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 " style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="LoadColdWallet"   type="button" class="btn waves-effect waves-light btn-rounded btn-info btnWidth">
                            Cold Storage Wallet
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
  </div>

 