
@page "/Tracker"

<style>
    #morris-donut-chart  text{
        fill:#689aa4;
    }
    .page {
        height: 100vh;
        display: block;
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
    }
    .form-control {
        color: #54667a;
        background-color: #1e1f26;
        border-color: rgba(0,0,0,.25);
        outline: 0;
        box-shadow: unset,transparent;
    }
    
    .successBG{
        background:  #39c449!important;
    }
    .sellBG{
        background:#f62d51!important;
    }
    
    .boxCenter{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
             <div class="card">
                 <div class="card-body analytics-info">
                     <div id="basic-line" style="height:400px; width: 100%"></div>
                 </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                    <div class="card-img-overlay">
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col-12">
                                <div class="row text-center" style="display: flex;justify-content: center;">
                                    <div class="col-6 col-md-2 border-end">
                                        <div class="mb-2">Market Capital</div>
                                         <i class="fas fa-piggy-bank fs-6 mb-2"></i>
                                        <div>
                                            $ 26,361.13
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 border-end">
                                        <div class="mb-2">Liquidity</div>
                                        <i class="fas fa-wine-glass fs-6 mb-2"></i>
                                        <div>
                                            31 BNB
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 border-end">
                                        <div class="mb-2">Holders</div>
                                        <i class="fas fa-people-carry fs-6 mb-2"></i>
                                        <div>
                                            Estimated 5000 holders
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 border-end">
                                        <div class="mb-2">Network</div>
                                        <i class="fas fa-wifi fs-6 mb-2"></i>
                                        <div>
                                            Binance Smart Chain
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 ">
                                        <div class="mb-2">Price</div>
                                        <i class="fas fa-dollar-sign fs-6 mb-2"></i>
                                        <div>
                                            $ 0.000000000047
                                        </div>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row" style="padding: 12px;">
                  <div class="col-lg-4">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Total Supply</h4>
                                    <div class="text-end">
                                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i> 1 000 000 000 000</h2>
                                        <span class="text-muted">Self reported</span>
                                    </div>
                                    <span class="text-info">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="min-height: 399px;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-md-flex align-items-center">
                                        <div>
                                            <h4 class="card-title">Hot Links</h4>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table stylish-table no-wrap v-middle">
                
                                            <tbody>
                                            <tr>
                                                <td>
                                                    
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fas fa-at"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            https://linksync.tech
                                                        </a>
                                                    </h6>
                                                 </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fab fa-telegram-plane"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            Telegram
                                                        </a>
                                                    </h6>
                                                    <small class="text-muted no-wrap">@@linksync_Official</small>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fab fa-twitter"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            Twitter
                                                        </a>
                                                    </h6>
                                                    <small class="text-muted no-wrap">@@linksync_Official</small>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fab fa-discord"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            Discord
                                                        </a>
                                                    </h6>
                                                    <small class="text-muted no-wrap">https://Discord.gg/linksync </small>
                                                </td>
                
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Circulating Supply</h4>
                                    <div class="text-end">
                                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i> 560,585,896,855,624</h2>
                                        <span class="text-muted">Based on LP -> 0x2345...5323</span>
                                    </div>
                                    <span class="text-info">60%</span>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="min-height: 399px;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-md-flex align-items-center">
                                        <div>
                                            <h4 class="card-title">Exchange listings</h4>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table stylish-table no-wrap v-middle">
                
                                            <tbody>
                                            <tr>
                                                <td>
                                                    
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </span>
                                                </td>
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            PancakeSwap
                                                        </a>
                                                    </h6>
                                                </td>
                
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="round rounded-circle text-white d-inline-block text-center bg-info">
                                                        <i class="fas fa-exchange-alt"></i>
                                                    </span>
                                                </td>                                             
                                                <td>
                                                    <h6 class="font-weight-medium mb-0 nowrap">
                                                        <a href="javascript:void(0)" class="link">
                                                            Feg Ex
                                                        </a>
                                                    </h6>
                                                </td>
                                            </tr>
                                     
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card" style="height: 95%;">
                            <div class="card-body">
                                <h3 class="text-center">
                                     Price change in %
                                </h3>
                                <div id="morris-donut-chart"></div>
                            
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 12px;">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-md-flex no-block">
                        <div>
                            <h4 class="card-title">Sales Overview</h4>
                            <h6 class="card-subtitle">Check the monthly sales </h6>
                        </div>
                        <div class="ms-auto">
                            <select class="form-select">
                                <option selected="">March</option>
                                <option value="1">February</option>
                                <option value="2">May</option>
                                <option value="3">April</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="mb-0">March 2021</h2>
                            <h5 class="fw-light mt-0 text-muted">Report for this month</h5></div>
                        <div class="col-md-6 align-self-center display-6 text-info text-start text-md-end">$3,690</div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover no-wrap">
                        <thead>
                        <tr>
                            <th class="text-center border-0">#</th>
                            <th class="border-0">Quantity</th>
                            <th class="border-0">STATUS</th>
                            <th class="border-0">DATE</th>
                            <th class="border-0">PRICE</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-center text-muted">400,000,000,000</td>
                            <td><span class="badge text-center bg-success boxCenter  successBG">BUY</span> </td>
                            <td class="fw-normal text-center text-muted">April 18, 2020</td>
                            <td><span class="text-success text-center"> $18.78 <i class="fas fa-caret-up"></i></span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success successBG boxCenter">BUY</span> </td>
                            <td class="fw-normal text-muted text-center">April 19, 2020</td>
                            <td><span class="text-success text-center"> $18.78 <i class="fas fa-caret-up"></i></span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success successBG boxCenter">BUY</span> </td>
                            <td class="fw-normal text-muted text-center">April 19, 2020</td>
                            <td><span class="text-success text-center"> $18.78 <i class="fas fa-caret-up"></i></span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success py-1 sellBG boxCenter">SALE</span> </td>
                            <td class="fw-normal text-muted text-center">April 20, 2020</td>
                            <td><span class="text-danger text-center"> $18.78 <i class="fas fa-caret-down"></i></span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success successBG boxCenter">BUY</span> </td>
                            <td class="fw-normal text-muted text-center">April 21, 2020</td>
                            <td><span class="text-success text-center">  $18.78 <i class="fas fa-caret-up"></i></span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success py-1 sellBG boxCenter">SALE</span> </td>
                            <td class="fw-normal text-muted text-center">April 23, 2020</td>
                            <td><span class="text-danger text-center"> $18.78 <i class="fas fa-caret-down"></i> </span></td>
                        </tr>
                        <tr>
                            <td class="text-center">0xe7e4bca8dc88919cdfeebf292c05c9aff024e9bcfdd9e130afde9973a10c8f6e</td>
                            <td class="fw-normal text-muted text-center">400,000,000,000</td>
                            <td><span class="badge bg-success successBG boxCenter">BUY</span> </td>
                            <td class="fw-normal text-muted text-center">April 18, 2020</td>
                            <td><span class="text-success text-center"> $18.78 <i class="fas fa-caret-up"></i></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding: 12px;">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <ul class="list-icons d-flex flex-item text-center list-style-none">
                           
                            <li class="col my-1" > 
                                <span  @onclick="() => SocialFeedSelected(1)"  data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="twitter" data-bs-original-title="social" aria-label="social"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter ps-2"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></span>
                            </li>
                            <li class="col my-1" >
                                <span  @onclick="() => SocialFeedSelected(2)" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Facebook" data-bs-original-title="social" aria-label="social"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook ps-2"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></span>
                            </li>
                            <li class="col my-1" >
                                <span  @onclick="() => SocialFeedSelected(3)"  data-bs-toggle="tooltip" data-bs-placement="top" title="" data-original-title="Youtube" data-bs-original-title="social" aria-label="social"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-youtube ps-2"><path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path><polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon></svg></span>
                            </li>
                           
                        </ul>
                    </div>
                    <div  style='padding: 20px; display: @InstagramVisible'>
                   
                    </div>
                    <div   style='padding: 20px; display: @TwitterVisible'>

                    </div>
                    <div   style='padding: 20px; display: @YoutubeVisible'>

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent Chats</h4>
                    <div class="chat-box scrollable ps-container ps-theme-default ps-active-y" style="height: 375px;" data-ps-id="0b1d2342-4dc1-5294-1779-252e6129e552">
                        <!--chat Row -->
                        <ul class="chat-list m-0 p-0">
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top"><img src="../assets/images/users/1.jpg" alt="user" class="rounded-circle"></div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h6 class="text-muted text-nowrap">James Anderson</h6>
                                    <div class="box mb-2 d-inline-block text-dark message fw-normal fs-3 bg-light-info">Lorem Ipsum is simply dummy text of the printing &amp; type setting industry.</div>
                                </div>
                                <div class="chat-time d-inline-block text-end text-muted">10:56 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top"><img src="../assets/images/users/2.jpg" alt="user" class="rounded-circle"></div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h6 class="text-muted text-nowrap">Bianca Doe</h6>
                                    <div class="box mb-2 d-inline-block text-dark message fw-normal fs-3 bg-light-success">It’s Great opportunity to work.</div>
                                </div>
                                <div class="chat-time d-inline-block text-end text-muted">10:57 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="odd mt-4">
                                <div class="chat-content ps-3 d-inline-block text-end">
                                    <div class="box mb-2 d-inline-block text-dark message fw-normal fs-3 bg-light-inverse">I would love to join the team.</div>
                                    <br>
                                </div>
                                <div class="chat-time d-inline-block text-end text-muted">10:58 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="odd mt-4">
                                <div class="chat-content ps-3 d-inline-block text-end">
                                    <div class="box mb-2 d-inline-block text-dark message fw-normal fs-3 bg-light-inverse">Whats budget of the new project.</div>
                                    <br>
                                </div>
                                <div class="chat-time d-inline-block text-end text-muted">10:59 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="mt-4">
                                <div class="chat-img d-inline-block align-top"><img src="../assets/images/users/3.jpg" alt="user" class="rounded-circle"></div>
                                <div class="chat-content ps-3 d-inline-block">
                                    <h6 class="text-muted text-nowrap">Angelina Rhodes</h6>
                                    <div class="box mb-2 d-inline-block text-dark message fw-normal fs-3 bg-light-primary">Well we have good budget for the project</div>
                                </div>
                                <div class="chat-time d-inline-block text-end text-muted">11:00 am</div>
                            </li>
                            <!--chat Row -->
                        </ul>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -53px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div>
                        <div class="ps-scrollbar-y-rail" style="top: 53px; right: 3px; height: 375px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 39px; height: 275px;"></div></div></div>
                </div>
                <div class="card-body border-top">
                    <div class="row">
                        <div class="col-8">
                            <textarea placeholder="Type your message here" class="form-control border-0"></textarea>
                        </div>
                        <div class="col-4 text-end">
                            <button type="button" class="btn btn-info btn-circle btn-lg"><i class="fas fa-paper-plane"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-light-warning text-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Offcanvas Bottom</button>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas Bottom</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
    </div>
</div>