@page "/"
@using System.Net
@using System.Timers
@using System.Numerics
@using ArduinoUploader.Hardware
@using NFTLock.Data
@using System.IO.Ports
@using System.Diagnostics
@using SYNCWallet.Services
@using SYNCWallet.Services.Definitions
@using static SYNCWallet.Models.Enums

@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<link href="/css/create.css" rel="stylesheet">
<Popup></Popup>
 
<div class="container FixCenter" id="LoginPanel" style="   height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;">
    <div class="row" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
        <img src="/logo.png" style="width: 250px;height: 200px;" alt="homepage" class="light-logo" />
    </div>
    <div class="row" id="Options" style="width: 100%;display: flex;justify-content: center;align-items: center; padding:0; margin:0;">
        <div class="col-md-5 " style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="LoadHotWallet" style="width: 100%; " type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                            Hot Wallet
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 " style="margin:10px;">
            <div class="row" style="margin-top: 50px;">
                <div class="card" style="padding: 0;overflow: hidden;">
                    <div class="card-body">
                        <i class="icon-wallet" style="    font-size: 140px;
                        display: flex;
                        justify-content: center;
                        margin: 10px;"></i>
                        <button @onclick="LoadColdWallet" style="width: 100%; " type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                            Cold Storage Wallet
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
  </div>

@code {
    private ICommunication Communication { get; set; }
    private IAuthenicationService AuthenicationHandler { get; set; }
    private IHardwareService HardwareService { get; set; }
    private IUtilities Utilities {get; set;}
    private string Port{ get; set; }



    protected override Task OnAfterRenderAsync(bool firstRender)
    {

        return base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {

        AuthenicationHandler = ServiceHelper.GetService<IAuthenicationService>();
        HardwareService = ServiceHelper.GetService<IHardwareService>();
        Communication = ServiceHelper.GetService<ICommunication>();
        Utilities =  ServiceHelper.GetService<IUtilities>();
        Communication.Init();
       
        Port = HardwareService.DeviceConnected();
    }

    private void LoadHotWallet()
    {
        var configStatus = Communication.CheckConfigured(ConfigMode.HotWallet);
        if(configStatus)
            NavigationManager.NavigateTo("LoginPanel");

        else
            NavigationManager.NavigateTo("Create");

    }

    private void LoadColdWallet()
    {
        // if(Communication.Os == 1)
        // {
        //   
        // }
        // else
        // {
        //     Communication.PublishError("Not supported",$"This feature is not supported under Linux and Mac due to kernal compatabilities.");
        // }
        Communication.SoftwareType = ConfigMode.ColdWallet;
        NavigationManager.NavigateTo("HardwareSelect");
    }
}