@using NFTLock.Data
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<button class="btn btn-light-danger text-danger" style="display:none;" id="NotificationPanel" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Offcanvas Right</button>
 
 
 
<div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"  aria-modal="true" role="dialog">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasExampleLabel" style="text-align:center;">Notifications</h5>
		<button style="display:none;" type="button" id="closeHidden" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
 	</div>
	<div class="offcanvas-body">
		<div class="row" style="margin:10px">
			<div class="alert alert-info alert-dismissible fade show" role="alert">
 				<div >
					<i class="fas fa-credit-card"></i>
					<strong>Card #781816 </strong>
				 </div>
				<div >
					Just recived a new payment
				 </div>
				<div >
					 $ 574.45
				 </div>
			</div>
		</div>
		<div class="row" style="margin:10px">
			<div class="alert alert-info alert-dismissible fade show" role="alert">
				<div>
					<i class="fas fa-credit-card"></i>
					<strong>Card #781816 </strong>
				</div>
				<div>
					Just recived a new payment
				</div>
				<div>
					$ 574.45
				</div>
			</div>
		</div>

	</div>
</div>


@code {


	private void OpenMenu(string location)
	{
		NavigationManager.NavigateTo(location);
	}

	private async void ToggleLockState(int state)
	{
		var hardwareService = new HardwareService();
		if (state == 1)
			hardwareService.Unlock();
		else
			hardwareService.Lock();


		var updatePrie = await JS.InvokeAsync<string>("ToggleLock", state);

	}

}
